<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @user.email %></p>
    <p>
      This email is to inform you that <%= @gpu.name %> is now available at the following link:
      <br/>
      <br/>
      <%= @gpu.url %>
    </p>
  </body>
</html>