<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome, <%= @user.email %></p>
    <p>
      This email is to confirm your account creation on gpuaw.antgbad.com
      <br/>
      Thank you for signing up. You will receive a message to this inbox when any GPU becomes available.
    </p>
  </body>
</html>